{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="registerForm">

                <h1 class="govuk-heading-xl">Register</h1>

                <div class="govuk-label govuk-label--m" >

                    {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.email, {
                                label: 'Email '
                            }) }}
                    <div class="govuk-form-group govuk-!-static-padding-top-5">
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password '
                        }) }}
                    </div>
                    <button type="submit" class="govuk-button" id="registerButton">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
