
{%  extends "base.html.twig" %}

    {% block body %}

        <div class="govuk-width-container">

            <a href="#" class="govuk-back-link">Back</a>
            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">{{ title }}</h1>
                        <link rel="apple-touch-icon" sizes="180x180" href="dist/assets/images/govuk-apple-touch-icon-180x180.png">
                        <p class="govuk-body">[Add instructions on what to do on this page]</p>
                        <ol class="govuk-list govuk-list--number">
                            <li>Download 'Money Out' csv template</li>
                            <li>Add payments to the csv file and select the relevant payment type</li>
                            <li>Upload the completed file by clicking the 'upload' button below</li>
                            <li>Save and continue</li>
                        </ol>

                        <p class="govuk-body">Click the link to <a href="#" class="govuk-link">download csv template</a>.</p>
                    </div>
                </div>


                <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1" >
                        Upload a file
                    </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>

            </main>
        </div>
    {% endblock %}
