{%  extends "base.html.twig" %}

{% block body %}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl ">{{ title }} </h1>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-heading-s">We've listed your saved answers below.</p>
                <p class="govuk-body">Please find a summary of the following:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Submitted payments for this year's report.</li>
                    <li>Graph displaying your categorised spending.</li>
                    <li>Graph comparing year on year difference in spending.</li>
                </ul>
            </div>
        </div>


        <div class="govuk-grid-row govuk-!-static-padding-top-4">
            <h2 class="govuk-heading-l ">Submitted payments</h2>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">[Report year]</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Type of bank account</th>
                    <th scope="col" class="govuk-table__header">Amount</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{enter type}</th>
                    <td class="govuk-table__cell">{enter description}</td>
                    <td class="govuk-table__cell">{enter bank account}</td>
                    <td class="govuk-table__cell">{enter amount}</td>
                </tr>
                </tbody>
            </table>

            <h2 class="govuk-heading-l ">Categorised spending</h2>
            <h2 class="govuk-heading-l ">Year on Year spending difference (if applicable)</h2>
        </div>



    </main>
</div>


{% endblock %}
